<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <form>
     <div class="form-group">
     <h1 class="text-center text-primary">Employee Login</h1>
      <div class="input-group-prepend">
          Username<input type="text" class="form-control" placeholder="Username" name="Username"><br>
          
          Password<input type="password" class="form-control" placeholder="Password"name="Password" maxlength="10"><br>
          <br>
       
      </div>
     </div>
    </form>
   </div>